<!-- <header class="mdc-top-app-bar">
    <header class=" mdc-top-app-bar mdc-top-app-bar--prominent mdc-top-app-bar--dense">
        <div class="mdc-top-app-bar__row">
          <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            <button class="mdc-icon-button material-icons mdc-top-app-bar__navigation-icon--unbounded">menu</button><span class="mdc-top-app-bar__title">{{ .Title }}</span> </section>
          <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
            <button class="mdc-icon-button material-icons mdc-top-app-bar__action-item--unbounded" aria-label="Download">file_download</button>
            <button class="mdc-icon-button material-icons mdc-top-app-bar__action-item--unbounded" aria-label="Print this page">print</button>
            <button class="mdc-icon-button material-icons mdc-top-app-bar__action-item--unbounded" aria-label="Bookmark this page">bookmark</button>
          </section>
        </div>
      </header>
</header> -->

<div>
  <h1 class="kube-dialer-title">{{ .Title}}</h1>
</div>


